<%- include('partials/header'); -%>
<h1>Hello</h1>
<% for(var i=0;i<ContentsLists.length;i++) { %>
  <h2><%= ContentTitles[i] %></h2><br>
  <p><%= ContentsLists[i] %>
  </p>
  <hr>
  <% } %>

<%- include('partials/footer'); -%>
